<h1>All Users: TOP SECRET</h1>

<% @users.each do |user| %>
  <p>
    <% if user.is_admin? %>
      ADMIN
    <% end %>
    <%= user.first_name %>, <%= user.email %> ||
    <%= link_to 'View', user_path(user) %>
    <% if user.is_admin? %>
    <% else %>
      <%= link_to 'Delete', user_path(user), :method => :delete %>
    <% end %>

  </p>
<% end %>
