<h1>Images for </h1>

<%= form_for @image, html: {multipart: true} do |f|%>
  <fieldset>
    <%= f.label :image, 'Upload image' %>
    <%= f.file_field :image, :autofocus => true, :required => true %>
  </fieldset>
  <%= f.submit %>
<% end %>
